

:root {
--primary-text-color: #212121;
--secondary-text-color: #757575;
--accent-color: #2196F3;
--secondary-accent-color: #F5F4FA;
--primary-white-color: #ffffff; 
--background-secondary-color: #2F303A;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-style: Bold;
    font-weight: 700;
    line-height: 1.14 
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

li {
    list-style-type: none;
   
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Header */
body header 
{
    background-color: var(--primary-white-color);
}

.logo {
    color: #000000;
    font-weight: 700;
    font-family:'Raleway', sans-serif;;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.logo > span {
color: var(--accent-color);
}

.nav-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color)
}
.current-page-link {
    color: var(--accent-color);
}
.nav-list :hover,
.nav-list :focus {
    color: var(--accent-color);
}

.address-list-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color)}

.address-list :hover, 
.address-list :focus
{ color: var(--accent-color) }





/* STUDIO  hero-section*/

.hero-section {
background-color: var(--background-secondary-color);
} 


.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--primary-white-color);
}

.button-hero {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    align-self: center;
}

.button-hero:hover,
.button-hero:focus {
    color: var(--primary-white-color);
    background-color: #188CE8; }

/* Наші сильні сторони */

.strengths-list h3 {
text-transform: uppercase ;
font-size: 14px;
font-weight: 700;
text-align: left;
}

.strengths-list p {
    color: var(--secondary-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}
/* Чим ми займаємося */

.section-areas h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/* Наша команда */
.section-team {
    background-color: var(--secondary-accent-color)
}

.section-team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

.section-team li {
    background-color: var(--primary-white-color);
}

.section-team h3 {
    color: var(--primary-text-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.71;
        letter-spacing: 0.03em;
}

.section-team p {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* PORTFOLIO */

.portfolio-button
{
        color: var(--primary-text-color);
        background-color: var(--secondary-accent-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        cursor: pointer;
    }

.portfolio-button-current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.portfolio-button:hover, 
.portfolio-button:focus
{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-examples h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-examples p {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.86;
    letter-spacing: 0.03em;

}


/* footer */

.footer {
    background-color: var(--background-secondary-color);
}

.footer .logo {
    color: var(--primary-white-color);
}

.footer a {
    color: var(--primary-white-color);
    text-decoration: none;
    font-style: normal;
}

.footer-address {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address .footer-contact {
    color: #FFFFFF99;
}

.footer-address :hover,
.footer-address :focus {
    color: var(--accent-color);
}
